* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  /* Background Colors */
--background-primary: #F4F5FB;
--background-secondary: #FFFFFF;

/* Colors */
--color-brand: #CA3884;
--color-brand-hover: #A52C6B;
--color-danger: #C93847;

/* Content Colors */
--content-primary: #080B12;
--content-secondary: #374151;
--content-tertiary: #9CA3AF;
--always-white: #FFFFFF;

/* Border Colors */
--border-primary: #D1D5DB;
--border-hover: #B9C2D0;

--font-family-inter: 'Inter', sans-serif;

--title: 700 24px/32px var(--font-family-inter);
--label: 500 16px/20px var(--font-family-inter);
--paragraph: 400 16px/20px var(--font-family-inter);
--link: 400 14px/16px var(--font-family-inter);

}